<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Temporary password: yourmom -->
  <!-- Boy, it sure would be awkward if I forgot to delete this ;) -->

  <link rel="preload" href="/fonts/iAWriterMonoS-Regular.woff2" as="font" type="font/woff2">
  <link rel="preload" href="/fonts/iAWriterMonoS-Bold.woff2" as="font" type="font/woff2">
  <link rel="preload" href="/fonts/iAWriterMonoS-Italic.woff2" as="font" type="font/woff2">

  <title>Based Academy</title>
  <meta name="description" content="An independent directory of like-minded content creators.">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="alternate" type="application/atom+xml" title="Directory Feed" href="/feed.atom">
</head>
<body>
  <header>
    <div class="top-links-container">
      <a class="top-left-link" href="/" rel="noopener noreferrer">Home</a>
      <a class="top-left-link" href="/pages/FAQ" rel="noopener noreferrer">FAQ</a>
      <a class="top-center-link" href="/" rel="noopener noreferrer">Based Academy</a>
    </div>
  </header>

  <main>

    <div id="header" style="min-height: 3rem;"></div>

    <div class="container">
        <p>The Internet is dying.</p>
        <p>Algorithms feed you a steadily increasing diet of AI slop, and content that does not serve you. It does not have to be this way.</p>
        <p>Welcome to the Based Academy, a place where you can learn from technically-minded content creators who value knowledge and independence.</p>
        <p><img src="/assets/location-dot.svg" width="24" height="24" alt="Location Dot" class="icon" align="top"> The alive internet starts here.</p>
        <br>
