<!-- header.html -->
<div class="top-links-container">
  <a class="top-left-link" href="/" rel="noopener noreferrer">Home</a>
  <a class="top-left-link" href="/pages/add-me" rel="noopener noreferrer">Add Me</a>
  <a class="top-left-link" href="/pages/why" rel="noopener noreferrer">Why?</a>
  <!-- <a class="top-left-link" href="https://github.com/bcionescu" target="_blank" rel="noopener noreferrer">Git</a> -->
  <a class="top-center-link" href="/" rel="noopener noreferrer">Based Academy</a>
  </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<link rel="icon" href="/favicon-16x16.png" type="image/png">
<link rel="icon" href="/favicon-32x32.png" type="image/png">
<link rel="icon" href="/favicon-96x96.png" type="image/png">
<link rel="icon" href="/favicon-180x180.png" type="image/png">
<link rel="apple-touch-icon" href="/apple-icon.png">

<link rel="preload" href="/fonts/iAWriterMonoS-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterMonoS-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterMonoS-Italic.woff2" as="font" type="font/woff2" crossorigin>
